chardet
pandas
gunicorn
blinker
Flask=2.2.2
Flask-BabelEx
Flask-Login
Flask-Mail
flask-mailman
Flask-Migrate
Flask-Principal
Flask-RESTful
Flask-Security-Too
Flask-Session
Flask-SQLAlchemy
Flask-WTF
flask_dance
flask_session
dash>=2.9.3
dash-bootstrap-components
dash-core-components>=2.0.0
dash-html-components>=2.0.0
dash-table>=5.0.0
dash_daq
redis
pytz
python-dotenv
email_validator
WTForms
secure_cookie
authlib
requests-oauthlib
mariadb
pymysql

