gunicorn
blinker
Flask>=2.2.2
Flask-BabelEx
Flask-Login
Flask-Mail
flask-mailman
Flask-Migrate
Flask-Principal
Flask-RESTful
Flask-Security-Too
Flask-Session
Flask-SQLAlchemy
Flask-WTF
flask_dance
redis
pytz
python-dotenv
email_validator
WTForms
secure_cookie
authlib
requests-oauthlib
flask_oauthlib
mariadb
