/** header **/


:root {
  --header_height: 63px;
  --header_rows_heights:21px;
  --footer_height: 21px;
  --sidebar_width: 0px;
  --adbar_width: 0px;
  --content_width: 100%;
  --half_content_width: 50%;
  --half_content_height: 40%;
  --content_height: 80%;
  --graph_content_height:100%;
  --graph_content_width:50%;
  --graph_width: 100%;
  --graph_height: 100%;
  --form_width: 50%;
  --form_height: 40%;
  --full_table_width: 100%;
  --full_table_height: 100%;
  --debug_section_height: 63px;
}

.btn-brand {
    color: purple;
    background-color: darkgrey;
    border-color: black
}

.Select--multi .Select-value {
  background-color: #fcba03;
  border-color: #e3a700;
  color: #fff;
  height: 10px;
}

/** line-height: 1; **/

.form-select {
    padding:0 !important;
    margin: 0 !important;
}

#parent {
  overflow: auto;
  height: 300px;
  width: 300px;
  background-color: gainsboro;
}

#child-1 {
  overflow: auto;
  width: 400px;
  background-color: lightblue;
}

#child-2 {
  overflow: auto;
  width: 400px;
  height: 100px;
  background-color: lightgreen;
}

#child-3 {
  overflow: auto;
  width: 500px;
  background-color: lightcoral;
}

#child-4 {
  overflow: auto;
  width: 600px;
  background-color: lightcoral;
}

/**
--header_height: 18px;## 6vh;
  --footer_height: 12px; ##5vh;
  --sidebar_width: 25px; ##5vw;
  --adbar_width: 25px; ##5vw;
**/

.navbar-toggler-icon{
    font-size: 0.6em;
}

.navbar-toggler{
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav > li{
  display: inline-block;
  padding-left:0px;
  padding-right:00px;
  margin-left:0px;
  margin-right:0px;
  padding-top:0px;
  padding-bottom:00px;
  margin-top:0px;
  margin-bottom:0px;
}

.menu li a{
  display: inline-block
} 

.center {
  text-align: center;
  color: red;
  font-size:50px;
}

.TABLE_TITLE {
  text-align: center;
  color: black;
  font-size:14px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 21px;
  width:100%;
  background-color: Gray;
}

.OUTPUT_CELL_TITLE {
  text-align: center;
  color: black;
  font-size:12px;
  font-weight: bold;
  height: 21px;
  background-color: Gray;
}
  
.OUTPUT_CELL {
  text-align: center;
  color: black;
  font-size:12px;
  font-weight: normal;
  height: 21px;
}


.COLUMN_DIV {
    height:100%;
    background-color:orange;
    border:2px solid black;
    color: purple}


.TOP_CHART_ROW {
    width:100%;
    height:70%;
    }

.BOTTOM_CHART_ROW {
    width:100%;
    height:30%
    }

.BOTTOM_TABLE_ROW {
    width:100%;
    height:30%;
}

.NOPADDING_CONTENT {
    padding: 0 !important;
    padding-left: 0;
    padding-right:0;
    margin-left:0;
    margin-right: 0;
    border:1px solid black;
    }

/*height: var(--header_height);*/

.GRAPH {
    display: block;
    height: var(--graph_height);
    width: var(--graph_width);
    }

.TABLE_ROW {
    width:100%;
    height:50%;
}

.heading1 {
  background-color:orange;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
} 


.NOPADDING   {
             padding: 0 !important;
             padding-left: 0;
             padding-right:0;
             margin-left:0;
             margin-right: 0;
             /*border:1px solid black*/
             }

.MASTER_CONTAINER_STYLE {height:100vh;
                          width:100vw;
                          background-color:pink}

.PAGE_CONTAINER_STYLE {height:100%;
                          width:100%;
                          background-color:lightgreen}

.DASHBOARD_CONTAINER_STYLE   {
                          height:100%;
                          width:100%;
                          background-color:PaleGreen;
                          border:1px solid black;
                          }

.FULL_DIV {
            height:100%;
            width: 100%;
            background-color:black;
            border:1px solid black;
            color: purple;
            }

.SIDE_COLUMN {width:10%;height:100%;}

/*height: var(--header_height);*/

.HALF_CONTENT_COLUMN {width:var(--half_content_width);
              height:var(--half_content_height);
              background-color:blue;}

.QUARTER_COLUMN {width:25%;height:100%;background-color:green;}

.FULL_HEIGHT_ROW {width:100%;height:100%;}

.SIDEBAR_DIV {height:100%; background-color:black; border:1px solid black;  color: purple;}

.CHART_DIV {width:100%;height:100%;
           background-color:green; border:1px solid black;  color: purple;}


.TABLE_DIV {height:100%;
           background-color:green; border:2px solid green;  color: green;
           selector: .Select-menu-outer; rule: display: block !important;}


.CONTENT_ROW {width:100%;height:100%;}

.HEADER_ROW {width:100%;height:5%;}

.FOOTER_ROW {width:100%;height:5%;}

.CHART_ROW {width:100%;height:100%;}

.LEGEND_ROW {width:100%;height:50%;}

.STYLE_ROW {width:100%;height:50%;}

.ALL_ROW {
    width:100%;
    height:100%;
    }


.DateInput_input, .DateInput_input_1 {
    height: 34px !important;
    Width: 100% !important;
    border-radius: inherit;
}

.SingleDatePickerInput__withBorder {
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc !important;
    Width: 100% !important;
}


.PAGE_NOPADDING {
    padding: 0 !important;
    padding-left: 0;
    padding-right:0;
    margin-left:0;
    margin-right: 0;
    border:1px black;
    border-style: solid;
}

.PAGE_HEADER {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header_height);
    background-color: Gray;
    }


.PAGE_HEADER_0 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 21px;
    background-color: Gray;
    }


.PAGE_HEADER_1 {
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    height: 21px;
    background-color: Gray;
    }

.PAGE_HEADER_2 {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    height: 21px;
    background-color: Gray;
    }

.HEADER_TEXT {
    color: #a569bd;
    background-color: Black;
    }


.HEADER_COLUMN {
    height: 100%;
    background-color: black;
    padding:0px;
    margin:0px;
    text-align:center;
}

.FOOTER_COLUMN {
    height: 100%;
    background-color: black;
    padding:0px;
    margin:0px;
    text-align:center;
}

.SIDEBAR_COLUMN {
    height: 100%;
    background-color: black;
    padding:0px;
    margin:0px;
    text-align:center;
}

.PAGE_TEXT {
    color: #a569bd;
    background-color: Black;
    }

.PAGE_PARENT_CONTAINER {
    height:100vh;
    width: 100vw;
    background-color:pink;
}

/*
.parent {style_cell={'textAlign': 'left','padding': '0px','font_size': font_size,
                        'overflow': 'hidden',
                        'textOverflow': 'ellipsis',
                        'border': '1px solid black',
                        #'height': 'auto'
                        'height': row_height,
                    },
  background: gray;
  height: 300px;
  width: 300px;
  position: relative;
}
*/

.PAGE_CENTER_DIV {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.PAGE_CENTER_TEXT {
  text-align: center;
  color: red;
}


.PAGE_SIDE_RIGHT {
    position: absolute;
    top: var(--header_height);
    right: 0;
    bottom: var(--footer_height);
    width: var(--sidebar_width);
    /*background-color: lightgreen;*/
    color: #a569bd;
    background-color: Black;
    }

.PAGE_SIDE_LEFT {
    position: absolute;
    top: var(--header_height);
    left: 0;
    bottom: var(--footer_height);
    width: var(--sidebar_width);
    background-color: lightgreen;
    }


.PAGE_ADBAR {
    position: absolute;
    top: var(--header_height);
    right: 0;
    bottom: var(--footer_height);
    width: var(--adbar_width);
    background-color: lightgreen;
    }

.PAGE_FOOTER {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--footer_height);
    background-color: gray;
    }

.PAGE_FOOTER_BUTTONS {
    position: absolute;
    bottom: var(--footer_height);
    left: 0;
    right: 0;
    height: var(--footer_height);
    background-color: gray;
    }

.PAGE_CONTENT {
    position: absolute;
    top: var(--header_height);
    height:  calc(100% - 80px);
    width : var(--content_width);
    left: var(--sidebar_width);
    background-color: lightgray;
    overflow-y: scroll;
    }

.PAGE_TABLE_CONTENT_TOP_RIGHT {
    position: absolute;
    top: var(--header_height);
    height: calc((100% - 80px - 83px)/2);
    width : 100%;
    right: var(--sidebar_width);
    background-color: lightgray;
    }

/* width : var(--graph_content_width); */

/* 84px allowing for debug fields */

.PAGE_TABLE_CONTENT_BOTTOM_RIGHT {
    position: absolute;
    bottom: calc(var(--footer_height) + 84px);
    height: calc((100% - 80px - 83px)/2);
    width : 100%;
    right: var(--sidebar_width);
    background-color: lightgray;
    }

 /*width : var(--graph_content_width);*/
         
.PAGE_GRAPH_CONTENT {
    position: absolute;
    top: var(--header_height);
    height: calc(100% - 80px  - 83px);
    width : var(--graph_content_width);
    left: var(--sidebar_width);
    background-color: lightgray;
    }

.PAGE_FULL_TABLE_CONTENT {
    position: absolute;
    top: 84px;
    height: var(--full_table_height);
    width : var(--full_table_width);
    left: var(--sidebar_width);
    background-color: lightgray;
    }

.PAGE_DEBUG_CONTENT {
    position: absolute;
    bottom: calc(var(--footer_height)* 2);
    height: var(--debug_section_height);
    width : var(--full_table_width);
    left: var(--sidebar_width);
    background-color: lightgray;
    }

.PAGE_GRAPH_COLUMN_CONTENT_RIGHT {
    position: absolute;
    top: var(--header_height);
    height: var(--graph_height);
    width : var(--graph_width);
    right: var(--sidebar_width);
    background-color: lightgray;
    }

.PAGE_GRAPH_COLUMN_CONTENT_LEFT {
    position: absolute;
    top: var(--header_height);
    height: var(--graph_height);
    width : var(--graph_width);
    left: var(--sidebar_width);
    background-color: lightblue;
    }

.BUTTONS_ON_PAGE_LEFT {
    position: absolute;
    bottom: var(--footer_height);
    left: var(--sidebar_width);
    background-color: red;
    }

.DIV_ON_PAGE_RIGHT {
    position: absolute;
    bottom: var(--footer_height);
    right: var(--sidebar_width);
    background-color: pink;
    }

.dash-table-container .dropdown.dropdown { position: static; }

.dropdown.dropup { position: static; }

.CENTRE_FORM_CONTAINER {
    height: 600px;
    width: 700px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CENTRE_FORM {
  background: orange;
  width: 60vw;
  height: 60vh;
  position: absolute;
  top: 20vh;
  left: 20vw;
  margin: 0 0 0 0;
  border:4px solid black;
}

.FORM_SUBMIT_BUTN {
    /*position: fixed;
    top: 60vh;
    left: 56vw;
    height: 4vh;
    width: 4vw;
    background-color: red;
    */
    }

.FORM_CREATE_BUTN {
  /*position: fixed;
  top: 60vh;
  left: 56vw;
  height: 4vh;
  width: 4vw;
  background-color: red;
  */
  }

.FORM_CANCEL_BUTN {
    /*
    position: fixed;
    top: 60vh;
    left: 61vw;
    height: 4vh;
    width: 4vw;
    background-color: red;
    */
    }

.FORM_SAVE_BUTN {
    /*
    position: fixed;
    top: 60vh;
    left: 61vw;
    height: 4vh;
    width: 4vw;
    background-color: red;
    */
    }

.FORM_TITLE {
    text-align: center;
    color: #a569bd;
    font-size: 20px;
    font-weight: bold;
}

.FORM_TEXT {
    text-align: right;
    color: rgb(4, 2, 5);
    font-size: 20px;
    font-weight: bold;
}

.FORM_LABEL{
    text-align: right;
    color: rgb(4, 2, 5);
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
}

.FORM_COLUMN_LABEL{
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align:right;
    padding:0 !important;
    margin: 0 !important;
    border-style: none;
    width: 100%;
}


.FORM_LABEL_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: none;
    width: 1;
}

.FORM_ROW {
  font:bold;
  font-size: 12px;
  width:100%;
  height:25px;
}

.FORM_COLUMN_DATA {
  font:bold;
  font-size: 12px;
  /*width:140px;*/
  width:100%;
  height:24px;
  line-height: 80%;
  padding:0 !important;
  margin: 0 !important;
  border: 1px solid black;
}


/*
style={'width':'100%','height':'24px','line-height': '80%', 'font-size': '12px','padding':'0 !important','margin': '0 !important', 'border': '1px solid black'}
*/

.FORM_DATA_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  /*border-style: solid;*/
}

.FORM_COLUMN_RANGEINPUT {
    font:bold;
    font-size: 12px;
    width:140px;
}

.FORM_RANGEINPUT_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: solid;
}

.FORM_COLUMN_TEXTINPUT {
    font:bold;
    font-size: 12px;
    height: 100%;
    width:100%;
}

.FORM_TEXTINPUT_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: none;
}

.FORM_COLUMN_NUMBERINPUT {
  font:bold;
  font-size: 12px;
  height: 100%;
  width:100%;
}

.FORM_NUMBERINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: none;
}

.FORM_COLUMN_DROPDOWNINPUT {
  font:bold;
  font-size: 12px;
  height: 100%;
  width:100%;
}

.FORM_DROPDOWNINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}



.FORM_TEXTINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_TEXTAREAINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_TEXTAREAINPUT{
  font:bold;
  font-size: 12px;
  height: 100%;
  width:100%;
}


.FORM_CHECKBOXINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_CHECKBOXINPUT{
  font:bold;
  font-size: 12px;
  height: 100%;
  width:100%;
}

.FORM_RADIOINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_RADIOINPUT{
  font:bold;
  font-size: 12px;
  height: 100%;
  width:100%;
}


.FORM_COLUMN_UPLOAD {
    width: 100%;
    height: 60px;
    Height: 60px;
    border: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}

.FORM_UPLOAD_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}


.FORM_SINGLEDATE_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_SINGLEDATE{
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_YEARDROPDOWN_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_EXPERIMENTDROPDOWN{
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_EXPERIMENTDROPDOWN_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_SCALE {
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_SCALE_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_RESCALEX {
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_RESCALEX_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}


.FORM_COLUMN_RESCALEY {
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_LIMITTYPE_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: solid;
}

.FORM_COLUMN_LIMITTYPE {
    font:bold;
    font-size: 20px;
    height: 100%;
    width:100%;
}

.FORM_RESULTTYPE_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: solid;
}

.FORM_COLUMN_RESULTTYPE {
    font:bold;
    font-size: 20px;
    height: 100%;
    width:100%;
}

.FORM_SPIN_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: solid;
}

.FORM_COLUMN_SPIN {
    font:bold;
    font-size: 20px;
    height: 100%;
    width:100%;
}



.FORM_RESCALEY_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: solid;
}


.FORM_COLUMN_YEARDROPDOWN{
    font:bold;
    font-size: 20px;
    height: 100%;
    width:100%;
}

.FORM_COLOR_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: solid;
}

.FORM_COLUMN_COLOR{
    font:bold;
    font-size: 20px;
    height: 100%;
    width:100%;
}

.FORM_COLUMN_EXAMPLE {
    font:bold;
    font-size: 12px;
    border-style: none;
    height: 100%;
    width:100%;
    text-decoration: underline;
}

.FORM_EXAMPLE_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: none;
}

.FORM_SELECTFILE{
    text-align: left;
    color: purple;
    font-size: 20px;
    font-weight: bold;
}

.FORM_DATA{
    text-align: left;
    color: purple;
    font-size: 20px;
    font-weight: bold;
}

.FORM_PROMPT{
    text-align: left;
    color: purple;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
}

.FORM_BOX {
    height:30px;
    background-color:green;
    border:2px solid black;
    color: purple;
}


.FORM_COLUMN {
    background-color: red;
    padding:0px;
    margin:0px;
    border:1px solid black;
}

.plot_name {
  position:absolute;
  background-color: pink;
  top: 35px;
  padding:0;
  margin:0;
  left:0;
  height : 20px;
  width : 100px;
  }

.top_class {
  height: 10em;
  background-color: red;
  }

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

       
/* Small devices (landscape phones, 576px and up) */

/*
iphone se 375 * 667
iphone xr 414 * 896
iphone 12 pro 390 * 844
iphone 14 pro max 430 * 932
ipad media (acg) 768 * 918
ipad mini 768 * 1024
ipad air 820 * 1180
ipad pro 1024 * 1366
normal desktop screen 1478 * 751
*/

/* 5 size screens
screen 1 375 * 667
screen 2 390 * 844
screen 3 430 * 900
screen 4 768 * 918
screen 5 1000 * 750
*/

/*
select data to plot heights

screen 1
--------
height total 667px

navbar 33px
buttons 35px
plot name 21px
filter 300px
data 227px
plot data 60px

screen 2
--------
height total 844

navbar 33px
buttons 35px
plot name 21px
filter 300px
data 315px
plot data 60px

screen 3
--------
navbar 33px
buttons 35px
plot name 21px
filter 300px
data 315px
plot data 60px

screen 4
--------
navbar 33px
buttons 35px
plot name 21px
filter 300px
data 315px
plot data 60px

*/

.select_limits_to_plot_page_content_class{
                position:relative;
                width:100vw;
                height:100vh;
                top:0px;
                padding:0;
                margin:0;
                left:0;
                background-color:blue}

.select_limits_to_plot_button_class {
                position: absolute;
                top: 0px;
                left: 0px;
                border: 3px solid green;
                width: 100%;
                height : 35px;
		        background-color:green;
		}

.select_limits_to_plot_plot_name_class {
                    position:absolute;
                    top: 35px;
                    padding:0;
                    margin:0;
                    left:0;
                    height:20px;
                    width : 100%;
		            background-color:pink;
                  }
                    
.select_limits_to_plot_row_filters_class{
                    position:absolute;
                    top: 55px;
                    padding:0;
                    margin:0;
                    left:0;
                    background-color:blue;
                    height:200px;
                    width:100%;
                    font-size:12px;
                    font-style: bold;
                  }

.select_limits_to_plot_row_limits_class{
                    position:absolute;
                    top: 255px;
                    padding:0;
                    margin:0;
                    left:0;
                    background-color:green;
                    height:50px;
                    width:100%;
	                  }

.select_limits_to_plot_plot_limits_class {
                    position:absolute;
                    top: 555px;
                    padding:0;
                    margin:0;
                    left:0;
                    background-color:grey;
                    height:150px;
                    width:100%;
	                  }


.home_top_table_title_div_class  {  position:absolute;
			      top:33px;
			      padding:0;
			      margins:0;
			      left:0;
			      border:5px solid red;
                  background-color:lightgreen;
			      height:30px;
			      width:600px;
			      overflow-y: scroll;
                  font-size: 12px;
            			   }

.home_top_table_div_class  {  position:absolute;
			      top:63px;
			      padding:0;
			      margins:0;
			      left:0;
			      border:5px solid red;
                              background-color:green;
			      height:300px;
			      width:600px;
			      overflow-y: scroll;
            			   }

.home_bottom_table_title_div_class {position:absolute;
			      top:363px;
			      padding:0;
			      margins:0;
			      left:0;
			      border:5px solid black;
		      	  background-color:lightblue;
			      height:30px;
			      width:600px;
			      overflow-y: scroll;
                  font-size: 12px;
            			     }

.home_bottom_table_div_class {position:absolute;
			      top:393px;
			      padding:0;
			      margins:0;
			      left:0;
			      border:5px solid black;
		      	      background-color:blue;
			      height:300px;
			      width:600px;
			      overflow-y: scroll;
            			     }

/*
screen 1
--------
screen height total 667px
url height 

container height

navbar 35px
buttons 35px
plot name 21px
filter 210px
data 162px
plot data 100px

iphone navigation bar 40px

*/

@media screen and (max-width: 375px) {
  .select_limits_to_plot_plot_name_class {
    background-color: red !important;
    top:35px !important;
    width:375px !important;
    height:21px !important;
  }
  .select_limits_to_plot_row_filters_class {
    top:56px !important;
    width:375px !important;
    height:200px !important;
    background-color: red !important;
    border:1px solid black;
  }
 .select_limits_to_plot_row_limits_class {
    top:256px !important;
    width:375px !important;
    height:190px !important;
    background-color: red !important;
    border:1px solid black;
 }
 .select_limits_to_plot_plot_limits_class {
  top:446px !important;
  width:375px !important;
  height:81px !important;
  background-color: red !important;
  border:1px solid black;
 }

.home_top_table_title_div_class  {  position:absolute;
			      top:33px;
			      padding:0;
			      margins:0;
			      left:0;
			      border:5px solid red;
                  background-color:lightgreen;
			      height:30px;
			      width:375px;
			      overflow-y: scroll;
                  font-size: 12px;
            			   }
.home_top_table_div_class  {  position:absolute;
			      top:63px;
			      padding:0;
			      margins:0;
			      left:0;
			      border:5px solid red;
                              background-color:purple;
			      height:202px;
			      width:375px;
			      overflow-y: scroll;
            			   }
.home_bottom_table_title_div_class {position:absolute;
			      top:265px;
			      padding:0;
			      margins:0;
			      left:0;
			      border:5px solid black;
		      	  background-color:lightblue;
			      height:30px;
			      width:375px;
			      overflow-y: scroll;
                  font-size: 12px;
            			     }

.home_bottom_table_div_class {position:absolute;
			      top:295px;
			      padding:0;
			      margins:0;
			      left:0;
			      border:5px solid black;
		      	      background-color:purple;
			      height:202px;
			      width:375px;
			      overflow-y: scroll;
            			     }
}

/*
screen 2
--------
height total 844

navbar 33px
buttons 35px
plot name 21px
filter 300px
data 315px
plot data 60px
*/

@media screen and (min-width: 376px) and (max-width: 390px) {
  .select_limits_to_plot_plot_name_class {
    top:35px !important;
    height:21px !important;
    background-color: orange !important;
  }
  .select_limits_to_plot_row_filters_class {
    top:56px !important;
    height:200px !important;
    width:376px !important;
    border:1px solid black;
    background-color: orange !important;
  }
 .select_limits_to_plot_row_limits_class {
    top:256px !important;
    height:314px !important;
    width:376px !important;
    border:1px solid black;
    background-color: orange !important;
 }
 .select_limits_to_plot_plot_limits_class {
  top:570px !important;
  height:135px !important;
  width:376px !important;
  border:1px solid black;
  background-color: orange !important;
 }
}


@media screen and (min-width: 391px) and (max-width: 430px) {
  .select_limits_to_plot_plot_name_class {
    top:35px !important;
    height:21px !important;
    background-color: orange !important;
  }
  .select_limits_to_plot_row_filters_class {
    top:56px !important;
    height:200px !important;
    width:390px !important;
    border:1px solid black;
    background-color: orange !important;
  }
 .select_limits_to_plot_row_limits_class {
    top:256px !important;
    height:314px !important;
    width:390px !important;
    border:1px solid black;
    background-color: orange !important;
 }
 .select_limits_to_plot_plot_limits_class {
  top:610px !important;
  height:152px !important;
  width:390px !important;
  border:1px solid black;
  background-color: orange !important;
 }
}

@media screen and (min-width: 431px) and (max-width: 767px) {
  .select_limits_to_plot_plot_name_class {
    top:35px !important;
    height:21px !important;
    background-color: orange !important;
  }
  .select_limits_to_plot_row_filters_class {
    top:56px !important;
    height:200px !important;
    width:431px !important;
    border:1px solid black;
    background-color: orange !important;
  }
 .select_limits_to_plot_row_limits_class {
    top:256px !important;
    height:314px !important;
    width:431px !important;
    border:1px solid black;
    background-color: orange !important;
 }
 .select_limits_to_plot_plot_limits_class {
  top:622px !important;
  height:157px !important;
  width:431px !important;
  border:1px solid black;
  background-color: orange !important;
 }
}


@media screen and (min-width: 768px) and (max-width: 1000px) {
  .select_limits_to_plot_plot_name_class {
    top:35px !important;
    height:21px !important;
    background-color: orange !important;
  }
  .select_limits_to_plot_row_filters_class {
    top:56px !important;
    height:200px !important;
    width:768px !important;
    border:1px solid black;
    background-color: orange !important;
  }
 .select_limits_to_plot_row_limits_class {
    top:256px !important;
    height:256px !important;
    width:768px !important;
    border:1px solid black;
    background-color: orange !important;
 }
 .select_limits_to_plot_plot_limits_class {
  top:505px !important;
  height:107px !important;
  width:768px !important;
  border:1px solid black;
  background-color: orange !important;
 }
}




/* X-Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1001px) {
  .select_limits_to_plot_plot_name_class {
    top:35px !important;
    height:21px !important;
    background-color: orange !important;
  }
  .select_limits_to_plot_row_filters_class {
    top:56px !important;
    height:200px !important;
    width:1001px !important;
    border:1px solid black;
    background-color: orange !important;
  }
 .select_limits_to_plot_row_limits_class {
    top:256px !important;
    height:256px !important;
    width:1001px !important;
    border:1px solid black;
    background-color: orange !important;
 }
 .select_limits_to_plot_plot_limits_class {
  top:505px !important;
  height:107px !important;
  width:1001px !important;
  border:1px solid black;
  background-color: orange !important;
 }
}

/* XX-Large devices (larger desktops, 1400px and up) 

@media screen and (min-width: 1400px) {
    plot_name {
    background-color: blue !important;
  }
}
*/

  
@media screen and (min-width: 700px) and (max-width: 992px) {
  .root-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 300px;
    }
  #topbox {
    background-color: purple !important;
  }
}
